body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

/* PAST LAUNCHES */

.past-launches-wrapper {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.past-launches-main {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.head-h1 {
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: #344e41;
}

.past-launches {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  background-color: #eeeeee;
  color: black;
  width: 70%;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border: 4px solid transparent;
}

.past-launches:hover {
  border: 4px solid #344e41;
}

.past-launches h1 {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table-parent {
  width: 100%;
  margin: 1rem 0;
}

.table-body td,
.table-body th {
  color: white;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.clock span {
  font-size: 1rem;
  font-weight: 500;
}

.launch-details {
  color: black;
  font-weight: 500;
}

.search-head {
  color: #344e41;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.search {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.search input,
.search button,
.select-option {
  box-sizing: border-box;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.search input,
.select-option {
  width: 20%;
  border: 2px solid #344e41;
}

.search button {
  width: 10%;
  background-color: #344e41;
  color: #eeeeee;
  border: 2px solid transparent;
  transition: all;
  transition-duration: 0.5s;
}

.search button:hover {
  background-color: #eeeeee;
  border: 2px solid #344e41;
  color: #344e41;
}

/* FOOTER */

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #212529;
  margin-top: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  color: white;
  height: 10rem;
  font-weight: 700;
  font-size: 1.3rem;
  gap: 1rem;
  width: 100%;
  max-width: 1600px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #344e41;
  color: white;
  border-bottom: 1px solid #2c4237e4;
}

nav p {
  font-family: monospace;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

/* Extra Small (XS) */
@media (max-width: 575px) {
  .head-h1 {
    font-size: 2rem;
  }

  .search {
    flex-direction: column;
    align-items: baseline;
    padding: 0 2rem;
  }

  .search input,
  .select-option {
    width: 90%;
  }

  .search button {
    width: 90%;
  }

  .past-launches {
    width: 95%;
    padding: 2rem 0.5rem;
  }

  footer {
    padding: 3rem 1rem;
  }
}

/* Small (SM) */
@media (min-width: 575px) and (max-width: 767px) {
  .head-h1 {
    font-size: 2rem;
  }

  .search {
    flex-direction: column;
    align-items: baseline;
    padding: 0 2rem;
  }

  .search input,
  .select-option {
    width: 90%;
  }

  .search button {
    width: 90%;
  }

  .past-launches {
    width: 95%;
  }

  footer {
    padding: 3rem 2rem;
  }
}

/* Medium (MD) */
@media (min-width: 767px) and (max-width: 991px) {
  .search input,
  .select-option {
    width: 25%;
  }

  .search button {
    width: 20%;
  }

  .past-launches {
    width: 90%;
  }

  footer {
    padding: 3rem;
  }
}
